.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  min-height: 100px;
  background-color: #0c1a33;
  color: #fff;
  justify-content: space-between;
  padding: 10px 100px;
  font-family: "Courier New", Courier, monospace;
}
.footer_logo {
  font-size: larger;
}
.footer_logo:hover,
.footer_createcontent:hover {
  color: rgb(109, 109, 108);
  cursor: pointer;
}
